body{
    background-color:rgba(237, 141, 82, 0.899);
}

.Rojo{
    background-color: brown;
    font-style: oblique;
    color:azure;
}

#Azul{
    background-color: blue;
    font-style: oblique;
    color:chartreuse;
}